@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Jersey+15&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
*{
    margin: 0;
    padding: 0;
}

.kk{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #727D73;
    padding: 20px;
    width: fit-content;
    margin: 20px;
    color: #D0DDD0;
    border-radius: 15px;
    filter: drop-shadow(1px 2px 5px black);

    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.main input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    filter: drop-shadow(1px 1px 2px black);

    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.main button{
    border: none;
    padding: 10px;
    border-radius: 15px;
    color: #AAB99A;
    text-shadow: 1px 1px 1px black;

    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.main a{
    text-decoration: none;
    color: #AAB99A;
    font-size: x-large;

    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
}